@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo a Concessionaria Cesar & Farias</h1>
    <p>A única concessionaria BBB - Boa, Bonita e Barata!</p>
</div>
